body {
    font-family: 'Quantico', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* обнуляющие свойства потом скопировать в стартовый файл проекта */
li,
a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

.container {
    width: 1000px;
}

.header {
    position: absolute;
    /* width: 1000px; */
    height: 70px;
    left: 0px;
    top: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #272C3D;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.nav-menu,
.nav-menu__items,
.nav-lang {
    display: flex;
}

.nav-menu {
    gap: 116px;
}

.menu-link {
    display: flex;
    padding: 20px 10px;
    margin: auto;

}

li.nav-menu__item::marker {
    list-style-type: none;
    opacity: 0;
}

.menu-link li+.menu-link li {
    margin-left: 20px;
}

#active {
    color: #FF9C28; 
}

.menu-link--active {
    color: #FF9C28;
}

.accordion {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: 20px;

    margin: 20px 29px;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 5px 5px 8px;
    margin-left: 29px;
}

button.accordion {
    width: 130px;
    height: 30px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
}

button.accordion::after {

    left: 0;
}

.form-search {
    display: flex;
}


input.search {

    height: 26px;
    position: relative;
    background: #404864;
    border-radius: 5px 0 0 5px;
    border: none;
    margin: 20px 0;
}

input.search:after {

    padding-top: 10px;
    content: '\25BD';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #fff;
    float: right;
    margin-left: 54px;
}

.search-glass {
    background: #404864;
    width: 22px;
    height: 26px;
    margin-right: 0;
    margin-top: 20px;
    border-radius: 0 5px 5px 0;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    /* аккордион сместился после позицтонирования */
    /* position: relative;   */
}

div.panel {
    right: 30px;
    top: 50px;
    width: 95px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Quantico';
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

div.panel:hover {
    color: #000000;
    background: aqua;
}

.panel-ru {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    position: absolute;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\25BD';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #fff;
    float: right;
    margin-left: 54px;
}

.active:after {
    content: "\25B3";
    /* Unicode character for "minus" sign (-) */
}

.info-user {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 575px;
    margin-top: 70px;
    color: #fff;
}

.info-static {
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.quantity-user {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}


/* Slider */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

:root {
    --swiper-navigation-size: 30px !important;
}

:root {
    --swiper-theme-color: #fff !important;
}

/* Dots */
.dots {
    display: flex;
    width: 200px;
    margin: 0 auto;
    padding: 20px 0;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #C4C4C4;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #000000;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #A7A7A7;
    box-shadow: 0px 0px 10px #000000;
}

dot:last-child {
    margin-right: 0;
}

.swiper-backface-hidden {

    background: #000000;
}

.slider-text {
    text-transform: uppercase;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 33px;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
    background: #8c2323;

    background: black;

}

/* Section champions */
.champion {
    height: 375px;
    width: 740px;
    margin: 0 100px;
    padding: 30px;
    background-color: #1B1E27;
}

.date-label {
    display: flex;
    gap: 4px;
    align-items: baseline;
}

.champ-info__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.champ-info__date {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.cs-label {
    display: flex;
    align-items: center !important;
    bottom: 0;
    width: 24px;
    height: 13px;
}

.champ-about {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}

.foto-champ {}

.champ-img {
    margin-bottom: 10px;
}

.champ-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BFBFBF;
}

.link-items {
    display: flex;
    gap: 10px;
    margin-bottom: 36px;
}

.link-items__champ {
    margin-top: 20px;
}

/* footer */

.footer {
    width: 800px;
    height: 100px;
    background-color: #000000;
    margin-left: 100px;
}
.container {
}
.container-champ {
}
.footer-info {
}
.footer-info__text {
}
.footer-info__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-items {
}
.link-item {
}
.footer-info__link-connect {
}

